*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html { height: 100%; }
body { min-height: 100%; }

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 100vw;
    height: 100vh;
}

.editor {
    height: 50vh;
    width: 100%;
}
